body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin: 0;
}
.encabezado {
    background-color: cadetblue;
    height: 100px;
}

.menu {
    background-color: red;
    height: 150px;
}

.menu li a {
    color: aliceblue;
}

.principal {
    background-color: darkgoldenrod;
}

.pieDePagina {
    background-color: blue;
    height: 200px;

}